.main{
    display: flex;
}

.forum{
    width: 1400px;
    padding: 10px;
    background-color: #e0eaf5;
}

.news{
    background-color: #c5ced8;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2px;
}

.div-button-forum{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 9px 7px;
}