.map {
    width: 100%;
    height: 867px;
}

.marker {
    background-image: url('/static/img/warning-sign-red-png.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 420px !important;
  }
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }