body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sticky-header {
    padding: 10px 10px;
    background-color: #4CAF50;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main {
    padding: 16px;
}

.sticky-header + .main {
    padding-top: 102px;
}

.header {
    text-align: center;
    color: #4CAF50;
    font-size: 36px;
    margin-bottom: 20px;
}

.content {
    text-align: center;

}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}