body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://wallpapers.com/images/featured-full/forest-o8tny79q1njt8ahw.jpg'); /* Nueva URL de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    color: #4CAF50;
    font-size: 36px;
    margin-bottom: 20px
}

.content {
    text-align: center;

}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}