<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Personales-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/homeMap.css' %}">
    <script src="{% static 'js/sticky-header.js' %}"></script>

    <!--Mapa-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet'/>

    <title>Inicio</title>

</head>

<body>
    <div class="root">
    <!-- El encabezado -->
    <div class="sticky-header" id="stickyHeader">
        <div class="left-header-div"><a href="/" class="home-bttn">
            <div class="tp1"> <!-- ¿Logo? --></div>
            <div class="tp1">GEA</div>
        </a></div>
            {% if user.is_authenticated %}
        <div class="center-header-div">
            <div class="tp2">Sesión iniciada como {{ user }}</div>
        </div>
            {% endif %}
        <div class="right-header-div">
            <a href="/foro"><div class="div-button">Foro</div></a>
            {% if user.is_authenticated %}
            <a href="/profile"><div class="div-button">Perfil</div></a>
            <a href="/signout"><div class="div-button">Cerrar sesión</div></a>
            {% else %}
            <a href="/signin"><div class="div-button">Iniciar sesión</div></a>
            {% endif %}
        </div>
    </div>

    <!-- La pagina -->
        <div class="main">
            <!--Mapa-->
            <div class="map" id="map"></div>
        </div>
    </div>

    <!-- Script Mapa -->
    {% load static %}
    <script src="{% static 'js/map.js' %}"></script>
</body>
</html>