<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <div>
            <h2>Bienvenido, inicia sesión:</h2>
        </div>
        <div>
            <form action="/signin/" method="post">
            {% csrf_token %}
                <div><input type="text" id="username" name="username" placeholder="Nombre de usuario"></div>
                <br>   
                <div><input type="password" id="pass" name="pass" placeholder="Contraseña"></div>
                <br>
                <div><button type="sumbit">Iniciar sesión</button></div>
            </form>
        </div>
        <div>
            <button type="sumbit"><a href="/signup">Registrarse</a></button>
        </div>
    </div>
    
</body>
</html>