<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de cuenta</title>
</head>
<body>
    
    <h2>Crea una cuenta</h2>

    <form action="/signup/" method="post">
    {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="Nombre de usuario">       
        <br>       
        <input type="password" id="pass1" name="pass1" placeholder="Contraseña">       
        <br>       
        <input type="password" id="pass2" name="pass2" placeholder="Confirma tu contrasñea">
        <br>
        <input type="email" id="email1" name="email1" placeholder="Email">
        <br>
        <input type="email" id="email2" name="email2" placeholder="Confirma tu email">
        <br>
        <button type="submit">Registrarte</button>
    </form>

</body>
</html>